head
  style
    include stars.scss
section.stars
  button(class='star-button' type='button' name='button')
    img(src=require('./star.png'))
  button(class='star-button' type='button' name='button')
    img(src=require('./star.png'))
  button(class='star-button' type='button' name='button')
    img(src=require('./star.png'))
  button(class='star-button' type='button' name='button')
    img(src=require('./star.png'))
  button(class='star-button' type='button' name='button')
    img(src=require('./star_border.png'))
